<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161058040222-9mt33mf2uooc9cslvmtjo5k3vvodbk83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161058040222-9mt33mf2uooc9cslvmtjo5k3vvodbk83</string>
	<key>API_KEY</key>
	<string>AIzaSyAY-2iHBnIctUyzmkmM8btqfZV0DKcPM_0</string>
	<key>GCM_SENDER_ID</key>
	<string>161058040222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jbusApp</string>
	<key>PROJECT_ID</key>
	<string>jbus-8f9bf</string>
	<key>STORAGE_BUCKET</key>
	<string>jbus-8f9bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161058040222:ios:4fcdb76a5afe31725d4e8f</string>
	<key>DATABASE_URL</key>
	<string>https://jbus-8f9bf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>